[[source]]

url = "https://github.com/beasley-weather/weewx-orm"
verify_ssl = true
name = "weewx-orm"


[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
sqlalchemy-utils = "*"
marshmallow-sqlalchemy = "*"
msgpack-python = "*"


[dev-packages]
