[[source]]

url = "https://github.com/beasley-weather/weewx-orm"
verify_ssl = true
name = "weewx-orm"


[packages]

sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
msgpack-python = "*"


[dev-packages]
